<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jxc.mapper.EmployeeMapper">

	<resultMap type="Employee" id="employeeResultMap">
		<id column="eemploginname" property="empLoginName" />
		<!-- <association property="dept" javaType="Dept" column="edeptid"> </association> 
			<association property="role" javaType="Role" column="eroleid"> </association> -->
		<result column="eemploginpwd" property="empLoginPwd" />
		<result column="ename" property="empName" />
		<result column="ejoindate" property="joinDate" />
		<result column="egender" property="gender" />
		<result column="ebirthday" property="birthday" />
		<result column="eaddress" property="address" />
		<result column="ephone" property="telephone" />
		<result column="eemail" property="email" />
	</resultMap>
	
	<resultMap type="Employee" id="employeeResultMap1">
		<id column="e1emploginname" property="empLoginName" />
		<!-- <association property="dept" javaType="Dept" column="edeptid"> </association> 
			<association property="role" javaType="Role" column="eroleid"> </association> -->
		<result column="eemploginpwd" property="empLoginPwd" />
		<result column="ename" property="empName" />
		<result column="ejoindate" property="joinDate" />
		<result column="egender" property="gender" />
		<result column="ebirthday" property="birthday" />
		<result column="eaddress" property="address" />
		<result column="ephone" property="telephone" />
		<result column="eemail" property="email" />
	</resultMap>

	<sql id="employeeMap">
		e.`EmpLoginName` AS eemploginname,e.`EmpLoginPwd` AS
		eemploginpwd,e.`EmpName` AS ename,e.`DeptId` AS
		edeptid,e.`JoinDate` AS
		ejoindate,e.`Gender`AS egender,e.`Birthday` AS
		ebirthday,e.`Address` AS
		eaddress,e.`Telephone` AS ephone,e.`Email` AS
		eemail
	</sql>

	<select id="login" resultMap="employeeResultMap">
		select
		<include refid="employeeMap" />
		from employee e
		where e.`EmpLoginName`=#{name} and
		e.`EmpLoginPwd`=#{pwd}
	</select>

	<select id="getEmployeeAll" resultMap="employeeResultMap">
		select
		<include refid="employeeMap" />
		from employee e
	</select>

	<select id="findEmployeeByLoginName" resultMap="employeeResultMap">
		select
		<include refid="employeeMap" />
		from employee e
		where e.`EmpLoginName`=#{name}
	</select>

	<insert id="addEmployee" parameterType="Employee">
		INSERT INTO
		`jxcdb`.`employee` (`EmpLoginName`,
		`EmpLoginPwd`, `EmpName`, `DeptId`,
		`JoinDate`, `Gender`, `Birthday`,
		`Address`, `Telephone`, `Email`)
		VALUES (#{e.empLoginName},
		#{e.empLoginPwd}, #{e.empName},
		#{e.dept.deptId}, #{e.joinDate}, #{e.gender},
		#{e.birthday},
		#{e.address}, #{e.telephone}, #{e.email});
	</insert>

	<delete id="deleteEmployeeRoleByRoleId" parameterType="int">
		DELETE FROM `jxcdb`.`employeerole` WHERE `RoleId`=#{roleId}
	</delete>
	

</mapper>