<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jxc.mapper.EnterStockTypeMapper">
	
	<resultMap type="EnterStockType" id="enterStockTypeMap">
		<id column="est_id" property="estId"/>
		<result column="est_name" property="estName"/>
		<result column="description" property="description"/>
	</resultMap>

	<select id="getEnterStockTypeAll" resultMap="enterStockTypeMap">
		select est_id,est_name,description from enterstocktype
	</select>
	
</mapper>
