<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jxc.mapper.EnterStockMapper">

	<resultMap type="EnterStock" id="enterStockMap">
		<id column="EnterStock_id" property="enterStockId" />
		<result column="EnterDate" property="enterDate" />
		<result column="UpstreamNo" property="upstreamNo" />
		<result column="ReviewDate" property="reviewDate" />
		<result column="ReviewReason" property="reviewReason" />
		<result column="Remark" property="remark" />
		<association property="storehouse"
			resultMap="cn.jxc.mapper.StoreHouseMapper.StoreHouseMap">
		</association>
		<association property="employee"
			resultMap="cn.jxc.mapper.EmployeeMapper.employeeResultMap">
		</association>
		<association property="enterstocktype" column="EST_id"
			javaType="EnterStockType">
			<id column="EST_id" property="estId" />
			<result column="EST_name" property="estName" />
		</association>
		<association property="reviewEmp" column="ReviewEmp"
			javaType="Employee">
			<id column="ReviewEmp" property="empLoginName" />
		</association>
		<association property="reviewStatus" column="RS_id"
			javaType="ReviewStatus">
			<id column="RS_id" property="rsId" />
			<result column="RS_name" property="rsName" />
		</association>
	</resultMap>

	<select id="getEnterStockBySuless" resultMap="enterStockMap">
		SELECT
		es.EnterStock_id,es.EnterDate,es.UpstreamNo,es.ReviewEmp,es.ReviewDate,es.ReviewReason,es.Remark,
		<include refid="cn.jxc.mapper.StoreHouseMapper.storehouses" />
		,
		<include refid="cn.jxc.mapper.EmployeeMapper.employeeMap" />
		,est.EST_id,est.EST_name,rs.RS_name,rs.RS_id FROM
		enterstock es
		LEFT
		JOIN storehouse s
		ON
		es.StoreHouse_id=s.StoreHouse_id
		LEFT JOIN employee
		e
		ON
		es.Employee_id=e.EmpLoginName
		LEFT JOIN enterstocktype est
		ON
		es.EnterStockType_id=est.EST_id
		LEFT JOIN employee ee
		ON
		es.ReviewEmp=ee.EmpLoginName
		LEFT JOIN reviewstatus rs
		ON
		es.ReviewStatus=rs.RS_id
		<where>
			<if test="singleNo!=null and singleNo!=''">
				AND es.EnterStock_id LIKE CONCAT('%',#{singleNo},'%')
			</if>
			<if test="shName!=null and shName!=''">
				AND s.SH_Name LIKE CONCAT('%',#{shName},'%')
			</if>
			<if test="start!=null">
				AND es.EnterDate <![CDATA[>]]>
				#{start}
			</if>
			<if test="end!=null">
				AND es.EnterDate <![CDATA[<]]>
				#{end}
			</if>
		</where>
		ORDER BY es.enterdate DESC
	</select>

	<insert id="enterStockAdd" parameterType="EnterStock">
		INSERT INTO
		`jxcdb`.`enterstock` (`EnterStock_id`, `StoreHouse_id`, `Employee_id`,
		`EnterDate`, `EnterStockType_id`, `UpstreamNo`, `ReviewEmp`,
		`ReviewDate`, `ReviewStatus`, `ReviewReason`, `Remark`)
		VALUES
		(#{es.enterStockId}, #{es.storehouse.storeHouseId},
		#{es.employee.empLoginName},
		#{es.enterDate},
		#{es.enterstocktype.estId}, #{es.upstreamNo}, NULL,
		NULL,
		1, NULL,
		#{es.remark});
	</insert>

	<update id="enterStockReview">
		UPDATE `jxcdb`.`enterstock` SET `ReviewEmp`=#{emp},
		`ReviewDate`=#{date}, `ReviewStatus`=#{reviewStatus},
		`ReviewReason`=#{reason}
		WHERE (`EnterStock_id`=#{singleNo});
	</update>

	<update id="enterStockUpdate" parameterType="EnterStock">
		UPDATE
		`jxcdb`.`enterstock` SET
		`StoreHouse_id`=#{es.storehouse.storeHouseId},
		`Employee_id`=#{es.employee.empLoginName},
		`EnterDate`=#{es.enterDate},
		`Remark`=#{es.remark} WHERE
		(`EnterStock_id`=#{es.enterStockId});
	</update>

	<delete id="enterStockDelete" parameterType="string">
		DELETE FROM
		enterstock WHERE enterstock_id=#{singleNo}
	</delete>

	<!-- 根据入库单号查询入库类型 -->
	<select id="getEnterStockTypeByESS" resultType="int"
		parameterType="string">
		select enterstocktype_id from enterstock WHERE
		enterstock_id=#{singleNo}
	</select>

</mapper>
