<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jxc.mapper.LeaveStockTypeMapper">
	
	<resultMap type="LeaveStockType" id="LeaveStockTypeMap">
		<id column="LST_id" property="lstId"/>
		<result column="LST_name" property="lstName"/>
		<result column="LST_des" property="lstDes"/>
	</resultMap>

	<select id="getLeaveStockTypeAll" resultMap="LeaveStockTypeMap">
		select LST_id,LST_name,LST_des from leavestocktype
	</select>
	
</mapper>