<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jxc.mapper.ProductMapper">

	<resultMap type="Product" id="productResultMap">
		<id property="productId" column="PDid" />
		<result property="productName" column="PDname" />
		<result property="createDate" column="PDtime" />
		<association property="producttype" resultMap="productTypeMap">
		</association>
		<association property="productunit"
			resultMap="cn.jxc.mapper.ProductUnitMapper.productunitmap">
		</association>
		<association property="employeeId" javaType="Employee"
			resultMap="cn.jxc.mapper.EmployeeMapper.employeeResultMap">
		</association>
	</resultMap>

	<resultMap type="ProductType" id="productTypeMap">
		<id property="productTypeId" column="Tid" />
		<result property="productTypeName" column="TName" />
		<result property="remark" column="TRemark" />
	</resultMap>

	<sql id="product">
		p.`Product_id` AS PDid,p.`Product_name` AS PDname
		,p.`CreateDate` AS PDtime
	</sql>

	<sql id="producttype">
		t.`ProductType_id` AS Tid,t.`ProductType_name` AS
		TName,t.`Remark` AS TRemark
	</sql>

	<select id="getProductAll" resultMap="productResultMap">
		SELECT
		<include refid="product" />
		,
		<include refid="producttype" />
		,
		<include refid="cn.jxc.mapper.ProductUnitMapper.productunitsql" />
		,
		<include refid="cn.jxc.mapper.EmployeeMapper.employeeMap" />
		FROM product p
		LEFT JOIN producttype t
		ON
		p.`ProductType_id`=t.`ProductType_id`
		LEFT JOIN productunit u
		ON
		p.`ProductUnit_id`=u.`ProductUnit_id`
		LEFT JOIN employee e
		ON
		p.`Employee_id`=e.`EmpLoginName`
	</select>



<select id="getAllFromStock" resultMap="productResultMap">
		SELECT
		<include refid="product" />
		,
		<include refid="producttype" />
		,
		<include refid="cn.jxc.mapper.ProductUnitMapper.productunitsql" />
		,
		<include refid="cn.jxc.mapper.EmployeeMapper.employeeMap" />
		FROM stockpile s
		
		LEFT JOIN product p
		ON
		s.`Product_id`=p.`Product_id`
		LEFT JOIN producttype t
		ON
		p.`ProductType_id`=t.`ProductType_id`
		LEFT JOIN productunit u
		ON
		p.`ProductUnit_id`=u.`ProductUnit_id`
		LEFT JOIN employee e
		ON
		p.`Employee_id`=e.`EmpLoginName`
		
	</select>
</mapper>