<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jxc.mapper.ProductUnitMapper">

	<resultMap type="ProductUnit" id="productunitmap">
		<id property="productUnitId" column="uid" />
		<result property="puName" column="UName" />
		<result property="puDes" column="udes" />
		<result property="createTime" column="utime" />
		<association property="employeeId" javaType="Employee">
			<id property="empLoginName" column="uempid" />
		</association>
	</resultMap>

	<sql id="productunitsql">
		u.`ProductUnit_id` AS uid,u.`PU_name` AS UName,u.`PU_des`
		AS udes,u.`Employee_id` AS uempid,u.`CreateTime` AS utime
	</sql>

</mapper>
