<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jxc.mapper.PurchaseRequestMapper">

	<resultMap type="PurchaseRequest" id="purchaseRequestMap">
		<id property="purchaseRequestId" column="PurchaseRequest_id" />
		<result property="suppContact" column="SuppContact" />
		<result property="suppPhone" column="SuppPhone" />
		<result property="requestTime" column="RequestTime" />
		<result property="deptReviewTime" column="DeptReviewTime" />
		<result property="financialAuditTime" column="FinancialAuditTime" />
		<result property="remark" column="Remark" />
		<result property="orderStatus" column="OrderStatus"
			typeHandler="cn.jxc.util.OrderStatusTypeHandler" />
		<result property="deptReviewReason" column="DeptReviewReason" />
		<result property="financialAuditReason" column="FinancialAuditReason" />
		<association property="employeeByRequestEmpId" column="RequestEmpId"
			javaType="Employee">
			<id column="RequestEmpId" property="empLoginName" />
		</association>
		<association property="employeeByDeptReviewEmp" column="DeptReviewEmp"
			javaType="Employee">
			<id column="DeptReviewEmp" property="empLoginName" />
		</association>
		<association property="reviewstatusByDeptReviewStatus"
			column="DeptReviewStatus" javaType="ReviewStatus">
			<id column="DeptReviewStatus" property="rsId" />
			<result column="deptStatus" property="rsName" />
		</association>
		<association property="employeeByFinancialAuditEmp"
			column="FinancialAuditEmp" javaType="Employee">
			<id column="FinancialAuditEmp" property="empLoginName" />
		</association>
		<association property="reviewstatusByFinancialAuditStatus"
			column="FinancialAuditStatus" javaType="ReviewStatus">
			<id column="FinancialAuditStatus" property="rsId" />
			<result column="finalStatus" property="rsName" />
		</association>
		<association property="supplier" column="Supplier_id"
			javaType="Supplier">
			<id column="Supplier_id" property="supplierId" />
			<result column="Supp_name" property="suppName" />
		</association>
	</resultMap>

	<insert id="addPurchaseRequest" parameterType="PurchaseRequest">
		INSERT INTO
		PurchaseRequest(PurchaseRequest_id,
		RequestEmpId,RequestTime,Supplier_id,SuppContact,SuppPhone,DeptReviewStatus,FinancialAuditStatus,Remark,OrderStatus)
		VALUES(#{pr.purchaseRequestId},#{pr.employeeByRequestEmpId.empLoginName},
		#{pr.requestTime},#{pr.supplier.supplierId},#{pr.suppContact},#{pr.suppPhone},1,1,#{pr.remark},1);
	</insert>

	<select id="getPurchaseRequestByBlurry" resultMap="purchaseRequestMap">
		SELECT pr.*,su.Supp_name,rs.`RS_name` AS deptStatus,final.`RS_name` AS
		finalStatus
		FROM purchaseRequest pr
		LEFT JOIN supplier su
		ON
		pr.`Supplier_id`= su.Supplier_id
		LEFT JOIN reviewstatus rs
		ON
		pr.`DeptReviewStatus`=rs.`RS_id`
		LEFT JOIN reviewstatus final
		ON
		pr.`FinancialAuditStatus`=final.`RS_id`
		<where>
			<if test="null!=empNo and ''!=empNo">
				AND pr.`RequestEmpId` LIKE CONCAT('%',#{empNo},'%')
			</if>
			<if test="null!=singleNo and ''!=singleNo">
				AND pr.`PurchaseRequest_id` LIKE
				CONCAT('%',#{singleNo},'%')
			</if>
			<if test="null!=suppName and ''!=suppName">
				AND su.Supp_name LIKE CONCAT('%',#{suppName},'%')
			</if>
		</where>
		ORDER BY requesttime DESC
	</select>

	<select id="getPurchaseRequestByOrderStatus" resultMap="purchaseRequestMap"
		parameterType="int">
		SELECT pr.*,su.Supp_name,rs.`RS_name` AS
		deptStatus,final.`RS_name` AS
		finalStatus
		FROM purchaseRequest pr
		LEFT
		JOIN supplier su
		ON
		pr.`Supplier_id`= su.Supplier_id
		LEFT JOIN
		reviewstatus rs
		ON
		pr.`DeptReviewStatus`=rs.`RS_id`
		LEFT JOIN
		reviewstatus final
		ON
		pr.`FinancialAuditStatus`=final.`RS_id`
		WHERE
		pr.OrderStatus=#{status}
		ORDER BY requesttime DESC
	</select>

	<update id="updatePurchaseRequest" parameterType="PurchaseRequest">
		update
		purchaserequest set
		RequestEmpId=#{pr.employeeByRequestEmpId.empLoginName}
		,Supplier_id=#{pr.supplier.supplierId} ,
		SuppContact=#{pr.suppContact}
		, SuppPhone=#{pr.suppPhone} ,
		Remark=#{pr.remark}
		where
		purchaseRequest_id=#{pr.purchaseRequestId}
	</update>

	<update id="updatePurchaseOrderStatus">
		update purchaserequest set orderStatus=#{no}
		where
		PurchaseRequest_id=#{singleNo}
	</update>
	<!-- 部门审核操作 -->
	<update id="updateDeptReivewStatus">
		update purchaserequest
		set DeptReviewStatus=#{no}
		,DeptReviewTime = #{date},DeptReviewEmp=#{emp}
		,DeptReviewReason=
		#{reason}
		where PurchaseRequest_id=#{singleNo}
	</update>
	<!-- 财务审核操作 -->
	<update id="updateFinancialReivewStatus">
		update purchaserequest
		set FinancialAuditStatus=#{no}
		,FinancialAuditTime =
		#{date},FinancialAuditEmp=#{emp}
		,FinancialAuditReason= #{reason}
		where PurchaseRequest_id=#{singleNo}
	</update>
	<!-- 删除 -->
	<delete id="deletePurchaseRequest" parameterType="string">
		DELETE FROM
		purchaserequest WHERE PurchaseRequest_id=#{singleNo}
	</delete>
</mapper>
