<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jxc.mapper.PurchaseRequestDetailMapper">
	
	<resultMap type="PurchaseRequestDetail" id="purchaseRequestDetailMap">
		<id column="PRD_id" property="prdId"/>
		<result column="Count" property="count"/>
		<result column="Price" property="price"/>
		<association property="purchaserequest" column="PurchaseRequest_id" javaType="PurchaseRequest">
			<id column="PurchaseRequest_id" property="purchaseRequestId"/>
		</association>
		<association property="product" column="Product_id" javaType="Product">
			<id column="Product_id" property="productId"/>
			<result column="Product_name" property="productName"/>
		</association>
		<association property="productUnit" column="ProductUnit_id" javaType="ProductUnit">
			<id column="ProductUnit_id" property="productUnitId"/>
			<result column="PU_name" property="puName"/>
		</association>
	</resultMap>
	
	<insert id="purchaseRequestDetailAdd" parameterType="PurchaseRequestDetail">
		INSERT INTO PurchaseRequestDetail(purchaserequest_id,product_id,`count`,productunit_id,price) 
			VALUES(#{prd.purchaserequest.purchaseRequestId},
				#{prd.product.productId},#{prd.count},#{prd.productUnit.productUnitId},#{prd.price})
	</insert>
	
	<select id="getPurchaseRequestDetailBySingleNo" resultMap="purchaseRequestDetailMap">
		select pqd.*,pro.Product_name,pt.PU_name from purchaserequestdetail pqd
			left join product pro ON pqd.Product_id=pro.Product_id
			left join productunit pt on pqd.ProductUnit_id=pt.ProductUnit_id
			where PurchaseRequest_id=#{singleNo}
	</select>
	
	<delete id="delPurchaseRequestDetail">
		DELETE FROM purchaserequestdetail where PRD_id=#{id}
	</delete>
	
	<update id="updatePurchaseRequestDetailBySingleNoAndProductId" parameterType="string">
		update purchaserequestdetail SET Count=#{count},Price=#{price}
		where PurchaseRequest_id=#{purchaseId} and Product_id=#{productId}
	</update>
	
	<delete id="delPurchaseRequestDetailBYSingleNo" parameterType="string">
		DELETE FROM purchaserequestdetail WHERE PurchaseRequest_id=#{singleNo}
	</delete>
	
</mapper>
