<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jxc.mapper.RoleMapper">

	<resultMap type="Role" id="roleMap">
		<id column="roleId" property="roleId" />
		<result column="rolename" property="roleName" />
		<result column="description" property="description" />
		<result column="rolecode" property="roleCode" />
	</resultMap>

	<sql id="roleSql">r.roleId,r.rolename,r.description,r.rolecode</sql>

	<select id="getRoleAll" resultMap="roleMap">
		select
		<include refid="roleSql" />
		from role r
	</select>

	<insert id="addRole" parameterType="Role">
		INSERT INTO `jxcdb`.`role`
		(`RoleId`, `RoleName`, `Description`, `RoleCode`)
		VALUES (NULL,
		#{r.roleName}, #{r.description}, #{r.roleCode});
	</insert>

	<update id="updateRole" parameterType="Role">
		UPDATE `jxcdb`.`role` SET
		`RoleName`=#{r.roleName}, `Description`=#{r.description},
		`RoleCode`=#{r.roleCode}
		WHERE (`RoleId`=#{r.roleId});
	</update>
	<!-- 根据id查询一个角色 -->
	<select id="findRoleById" resultMap="roleMap">
		select
		<include refid="roleSql"></include>
		from role r
		where r.roleId=#{roleId}
	</select>

	<select id="findRoleByEmp" parameterType="string" resultMap="roleMap">
		SELECT
		<include refid="roleSql" />
		FROM employeerole
		LEFT JOIN role r ON employeerole.RoleId=r.RoleId
		WHERE employeerole.EmpLoginName=#{emp}
	</select>

	<delete id="delRoleByEmp" parameterType="string">
		DELETE FROM employeerole
		WHERE emploginname = #{emp}
	</delete>

	<insert id="addEmpRole">
		INSERT INTO `jxcdb`.`employeerole` (`EmployeeRoleId`,
		`RoleId`, `EmpLoginName`) VALUES (NULL, #{roleId}, #{emp});
	</insert>

	<delete id="delRolePermissionByRoleId" parameterType="int">
		DELETE FROM
		`jxcdb`.`rolepermission` WHERE
		`RoleId`=#{roleId}
	</delete>

	<delete id="delRole">
		DELETE FROM `jxcdb`.`role` WHERE
		`RoleId`=#{roleId}
	</delete>

	<select id="getCountEmpRoleByRoleId" resultType="int"
		parameterType="int">
		select count(1) from employeerole where roleid=#{roleId}
	</select>

	<select id="getCountRolePermissionByRoleId" resultType="int"
		parameterType="int">
		select count(1) from rolepermission where
		roleid=#{roleId}
	</select>

</mapper>
