.overview_fullpage .s1 {margin-top:130px;}
.overview_fullpage .s2 {margin-top:130px;}

.overview_fullpage .section.s3 .inner-wrapper .text {margin-top:120px;}
.overview_fullpage .section.s4 .inner-wrapper .text {margin-top:120px;}
.overview_fullpage .section.s5 .inner-wrapper .text {margin-top:120px;}

.inner_page #s_design_1 .text {position:relative;}
.inner_page #s_design_2 .text {position:relative;}
.inner_page #s_design_2 .img div {display:inline;}
.inner_page #s_design_2 .img div h3 {width:180px;}
.inner_page #s_design_3 .text {position:relative;}
.inner_page #s_design_3 .slide_control li {float:left;}
.inner_page #s_contracted_1 .text {position:relative;}
.inner_page #s_contracted_3 .text {position:relative;}
.inner_page #s_contracted_4 .text {position:relative;}
.inner_page #s_light_1 .text {position:relative;}
.inner_page #s_light_2 .text {position:relative;}
.inner_page #s_light_3 .text {position:relative;}
.inner_page #s_light_4 .text {position:relative;}
.inner_page #s_save_1 .text {position:relative;}
.inner_page #s_save_2 .text {position:relative;}
.inner_page #s_clean_1 .text {position:relative;}
.inner_page #s_clean_2 .text {position:relative;}