@CHARSET "UTF-8";
body {
	padding: 0 0;
	margin: 0 0;
	font-family: "微软雅黑";
}

#div_top {
	text-align: left;
	padding: 0 0;
	margin: 0 0;
	width: 100%;
	height: 15%;
	box-shadow: 0px 2px 5px #aaa;
}

#logo {
	margin: 0 0;
	width: 18%;
	height: 100%;
	float: left;
}

.separator {
	padding: 0 0;
	margin: 0 10px;
	border-right: 1px dashed;
	color: #3cf;
	width: 1px;
	height: 100%;
	float: left;
}

#div_title {
	text-align: left;
	padding: 0 0;
	margin: 0 0;
	width: 20%;
	height: 100%;
	float: left;
	color: #3cf;
}

#div_middle {
	text-align: center;
	padding: 1% 0;
	margin: 1% 0;
	width: 100%;
	height: 60%;
}

#div_login_table {
	text-align: center;
	padding: 3% 3%;
	margin: 3% auto;
	width: 20%;
	height: 70%;
	background: #fff;
	box-shadow: 2px 2px 5px #aaa;
}

#login_table {
	text-align: center;
	padding: 2% 3%;
	margin: 3% auto;
	width: 25%;
	height: 80%;
	color: #aaa;
	box-shadow: 2px 2px 5px #aaa;
}

.inp {
	-moz-box-shadow: inset 0 0 6px #ddd;
	-webkit-box-shadow: inset 0 0 6px #ddd;
	box-shadow: inset 0 0 6px #ddd;
	border: 1px solid #CCC;
	height: 30px;
}

#portrait {
	width: 80px;
	height: 80px;
	border-radius: 80px;
	border: 1px solid;
	border-color: #3cf;
}

#popup-submit{
	width: 100%;
	background-color: #3cf;
	border: 0;
	height: 35px;
	color:#fff;
}

#div_bottom {
	text-align: left;
	padding: 0 0;
	margin: 0 0;
	width: 100%;
	height: 15%;
}

#bottom_separator{
	text-align:center;
	padding: 0 0;
	margin: 0 auto;
	border-bottom: 1px solid #aaa;
	color: #3cf;
	width: 80%;
	height: 1px;
}
